<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
>

    <context:component-scan base-package="dea.controlador.beans" />
    <context:component-scan base-package="dea.controlador.dao_classes" />
    <context:component-scan base-package="dea.controlador.dao_interfaces" />

    <context:property-placeholder location="classpath:app.properties" />

    <bean id="globalProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:app.properties"/>
    </bean>

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.connection.driver_class}" />
        <property name="url" value="${jdbc.connection.url}" />
        <property name="username" value="${jdbc.connection.username}" />
        <property name="password" value="${jdbc.connection.password}" />
    </bean>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:hibernate.cfg.xml" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.generate_statistics">${hibernate.generate_statistics}</prop>
            </props>
        </property>
        <property name="namingStrategy">
            <bean class="${hibernate.ejb.naming_strategy}" />
        </property>

        <property name="mappingResources">
            <list>
                <value> hibernate/Estudiante.hbm.xml </value>
                <value> hibernate/EstudianteRegistroMateria.hbm.xml </value>
                <value> hibernate/Facultad.hbm.xml </value>
                <value> hibernate/DocenteEscalafon.hbm.xml </value>
                <value> hibernate/AdministradorCoordinador.hbm.xml </value>
                <value> hibernate/Docente.hbm.xml </value>
                <value> hibernate/Cartilla.hbm.xml </value>
                <value> hibernate/ContenidoCartilla.hbm.xml </value>
                <value> hibernate/RequiereMateria.hbm.xml </value>
                <value> hibernate/Evaluacion.hbm.xml </value>
                <value> hibernate/Materia.hbm.xml </value>
                <value> hibernate/Escalafon.hbm.xml </value>
                <value> hibernate/AdministradorDirector.hbm.xml </value>
                <value> hibernate/Persona.hbm.xml </value>
                <value> hibernate/Universidad.hbm.xml </value>
                <value> hibernate/Carrera.hbm.xml </value>
                <value> hibernate/DocenteRegistroMateria.hbm.xml </value>
            </list>
        </property>
    </bean>
    <tx:annotation-driven />
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
</beans>